$background-color: #121212;
$highlight-color: #c992f1;
$highlight-color-faded: rgba(201, 146, 241, 0.4);
$secondary-color: white;
$tertiary-color: #b8b7b8;
$complimentary-color: #F1C992;
$complimentary-color-faded: rgba(241, 201, 146, 0.4);
$chat-color: rgba(80, 200, 120, 1);

$primary-font: "Lato", sans-serif;
$secondary-font: "IBM Plex Mono", monospace;