$background-color: #121212;
$highlight-color: #c992f1;
$highlight-color-faded: rgba(201, 146, 241, 0.4);
$secondary-color: white;
$tertiary-color: #b8b7b8;
$complimentary-color: #F1C992;
$complimentary-color-faded: rgba(241, 201, 146, 0.4);

$primary-font: "Lato", sans-serif;
$secondary-font: "IBM Plex Mono", monospace;

.cv-container {

    width: 75vw;
    height: 75vh;

    position: absolute;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    box-shadow: 0 5px 15px rgba(0, 0, 0, 1), 0 10px 20px rgba(0, 0, 0, 0.8), 0 15px 25px rgba(0, 0, 0, 0.4);
    border-radius: 25px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .cv-content-container {
        width: 95%;
        height: 90%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        position: absolute;

        .scroll-box {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            position: relative; // Change position to relative

            .cv-employment-container,
            .cv-education-container {

                opacity: 0;

                width: 95%;
                height: 85%;
                position: absolute;

                display: grid;
                grid-template-columns: repeat(2, 50%);
                grid-auto-rows: 50%;
                gap: 1.5em;

                padding: 20px;

                .employment-grid-box,
                .education-grid-box {

                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;

                    opacity: 0;

                    border-radius: 25px;
                    gap: 1em;

                    transition: opacity 700ms linear;

                    position: relative;

                    .border-container-education-one,
                    .border-container-employment-one {

                        position: absolute;
                        opacity: 0;
                        transition: opacity 700ms linear;
                        width: 100%;
                        height: 100%;

                        &::before,
                        &::after {
                            content: '';
                            position: absolute;
                            border-width: 1px; // Adjust the border thickness
                            border-style: solid;
                            border-color: $highlight-color-faded;
                        }

                        &::before {
                            bottom: 0;
                            right: 0;
                            width: 15%; // Adjust the width of the border
                            height: 15%; // Adjust the height of the border
                            border-left-width: 0;
                            border-top-width: 0;
                        }

                        &::after {
                            content: '';
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 60px; // Adjust the width of the border
                            height: 60px; // Adjust the height of the border
                            border-right-width: 0;
                            border-bottom-width: 0;
                        }
                    }

                    .border-container-education-two,
                    .border-container-employment-two {

                        &::before,
                        &::after {
                            content: '';
                            position: absolute;
                            border-width: 1px; // Adjust the border thickness
                            border-style: solid;
                            border-color: $complimentary-color-faded;
                        }

                        &::before {
                            top: 0;
                            right: 0;
                            width: 60px; // Adjust the width of the border
                            height: 60px; // Adjust the height of the border
                            border-left-width: 0;
                            border-bottom-width: 0;
                        }

                        &::after {
                            content: '';
                            position: absolute;
                            bottom: 0;
                            left: 0;
                            width: 15%; // Adjust the width of the border
                            height: 15%; // Adjust the height of the border
                            border-right-width: 0;
                            border-top-width: 0;
                        }
                    }

                    .border-container-education-three,
                    .border-container-employment-three {

                        &::before,
                        &::after {
                            content: '';
                            position: absolute;
                            border-width: 1px; // Adjust the border thickness
                            border-style: solid;
                            border-color: $complimentary-color-faded;
                        }

                        &::before {
                            top: 0;
                            right: 0;
                            width: 15%; // Adjust the width of the border
                            height: 15%; // Adjust the height of the border
                            border-left-width: 0;
                            border-bottom-width: 0;
                        }

                        &::after {
                            content: '';
                            position: absolute;
                            bottom: 0;
                            left: 0;
                            width: 60px; // Adjust the width of the border
                            height: 60px; // Adjust the height of the border
                            border-right-width: 0;
                            border-top-width: 0;
                        }

                    }

                    .border-container-education-four,
                    .border-container-employment-four {

                        &::before,
                        &::after {
                            content: '';
                            position: absolute;
                            border-width: 1px; // Adjust the border thickness
                            border-style: solid;
                            border-color: $highlight-color-faded;
                        }

                        &::before {
                            bottom: 0;
                            right: 0;
                            width: 60px; // Adjust the width of the border
                            height: 60px; // Adjust the height of the border
                            border-left-width: 0;
                            border-top-width: 0;
                        }

                        &::after {
                            content: '';
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 15%; // Adjust the width of the border
                            height: 15%; // Adjust the height of the border
                            border-right-width: 0;
                            border-bottom-width: 0;
                        }

                    }



                    .employment-header {

                        width: 70%;
                        height: 25%;
                        position: inherit;
                        font-size: 35px;
                        color: white;
                        font-family: $primary-font;
                        text-align: center;

                        margin-top: 10px;

                        padding-bottom: 5px;
                    }

                    .education-header {
                        width: 70%;
                        height: 20%;
                        position: inherit;
                        font-size: 35px;
                        color: white;
                        font-family: $primary-font;
                        text-align: center;

                        margin-top: 10px;
                        padding-bottom: 5px;
                    }

                    .employment-description {
                        width: 90%;
                        height: 50%;
                        font-size: .7vw;
                        color: $tertiary-color;
                        font-family: $primary-font;
                    }

                    .education-description {
                        width: 90%;
                        height: 75%;
                        font-size: .6vw;
                        color: $tertiary-color;
                        font-family: $primary-font;
                    }

                    .employment-date,
                    .education-date {

                        width: 90%;
                        text-align: center;
                        vertical-align: middle;
                        font-family: $secondary-font;
                        color: $tertiary-color;
                        font-size: 1vw;
                        margin-top: 15px;

                    }
                }
            }
        }


        // SKILLS
        .cv-skills-container {

            opacity: 1;

            position: absolute;

            width: 100%;
            height: 80%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            bottom: 0;

            margin-bottom: 50px;

            .skills-content-left-container {

                width: 70%;
                height: 93%;

                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: start;
                padding: 20px;

                .left-header {
                    color: $tertiary-color;
                    font-family: $primary-font;
                    font-size: 45px;
                    padding-bottom: 5px;

                    margin-bottom: 10px;
                }

                .progress-container {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    overflow: hidden;
                    width: 90%;

                    margin-top: 5px;
                    opacity: 0;
                    margin-left: 50px;

                    transition: all 300ms linear;

                    span {
                        display: block;
                    }

                    .progress-name {
                        color: $tertiary-color;
                        font-family: $primary-font;
                        font-size: 35px;
                        margin-right: 15px;
                        width: 50px;
                    }

                    .progress-bar {

                        position: inherit;
                        right: 0;
                        width: 80%;
                        height: 10px;
                        overflow: hidden;

                        .progress {
                            width: 0%;
                            background: rgb(201, 146, 241);
                            background: linear-gradient(90deg, rgba(201, 146, 241, 0.5004202364539565) 30%, rgba(2, 0, 36, 0) 100%, rgba(43, 0, 116, 0) 100%);
                            height: 10px;
                            transition: width 700ms ease-out;
                        }
                    }
                }
            }


            .skills-content-right-container {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-align: center;
                gap: 1.5em;
                width: 30%;
                height: 100%;

                // .cv-header {
                //     font-size: 45px;
                //     color: $tertiary-color;
                //     font-family: $primary-font;
                //     position: absolute;
                //     top: 0;
                //     margin-top: 90px;
                //     opacity: 0;
                //     transition: all 300ms linear;
                // }

                .skills-container-border-show {
                    &::before {
                        border-color: $highlight-color-faded !important;
                    }

                    &::after {
                        border-color: $complimentary-color-faded !important;
                    }
                }

                .skills-container {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                    gap: .8em;
                    padding: 20px;

                    position: relative;

                    opacity: 0;

                    transition: all 400ms linear;

                    .border-container {
                        width: 100%;
                        height: 100%;

                        opacity: 0;

                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        text-align: center;
                        gap: .8em;
                        padding: 20px;

                        position: absolute;

                        transition: all 400ms linear;

                        &::before {

                            content: '';
                            position: absolute;
                            border-width: 1px; // Adjust the border thickness
                            border-style: solid;
                            border-color: $highlight-color-faded;

                        }

                        &::after {

                            content: '';
                            position: absolute;
                            border-width: 1px; // Adjust the border thickness
                            border-style: solid;
                            border-color: $complimentary-color-faded;
                        }

                        &::before {
                            top: 0;
                            left: 0;
                            width: 15%; // Adjust the width of the border
                            height: 30%; // Adjust the height of the border
                            border-right-width: 0;
                            border-bottom-width: 0;
                        }

                        &::after {
                            bottom: 0;
                            right: 0;
                            width: 15%; // Adjust the width of the border
                            height: 30%; // Adjust the height of the border
                            border-left-width: 0;
                            border-top-width: 0;
                        }
                    }

                    .skill {
                        font-family: $primary-font;
                        color: $tertiary-color;
                        font-size: 20px;
                        opacity: 0;
                        transition: all 300ms linear;
                    }
                }
            }
        }





    }

    .cv-navbar-container {
        width: 100%;
        top: 0;
        left: 0;
        position: inherit;

        .cv-nav {

            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            list-style: none;
            gap: 1.5em;

            margin-top: 15px;
            margin-left: 0;
            padding: 0;

            .cv-nav-link {

                text-decoration: none;
                color: $tertiary-color;
                font-family: $primary-font;
                font-size: 20px;
                text-align: center;

                padding: 0 5px 5px 5px;

                background-image: linear-gradient($highlight-color 0 0);
                background-position: 0 100%;
                background-size: 0% 2px;
                background-repeat: no-repeat;
                transition:
                    background-size 0.5s,
                    background-position 0s 0.5s;

                &:hover {
                    color: $secondary-color;
                    background-position: 100% 100%;
                    background-size: 100% 2px;
                }
            }

            .cv-nav-spacer {
                color: $tertiary-color;
                font-family: $primary-font;
                font-size: 20px;
                text-align: center;
            }
        }
    }
}


// RESPONSIVENESS
@media only screen and (max-width: 1500px) {

    .cv-skills-container {

        .skills-content-left-container {

            width: 50% !important;

            .progress-container {

                width: 100% !important;

                .progress-bar {
                    width: 100% !important;
                }
            }
        }

        .skills-content-right-container {


            width: 50% !important;
        }
    }

}

@media only screen and (max-width: 1100px) {

    body {
        overflow: auto !important;
        width: 100% !important;
    }

    .cv-container {

        box-shadow: none;
        width: 100%;
        margin-top: 50px;
        margin-left: 0;

        .cv-navbar-container {
            
            .cv-nav {
                gap: 1em !important;

                .cv-nav-link {
                    font-size: 16px;
                }
            }
        }

        .cv-content-container {
            // margin-left: -20px;
            left: 0;

            .scroll-box {

                .cv-employment-container,
                .cv-education-container {

                    grid-template-columns: repeat(1, 100%) !important;
                    padding: unset;
                    width: 100%;
                    margin-left: 30px;


                    .employment-grid-box,
                    .education-grid-box {

                        border-bottom: 1px solid $highlight-color-faded;
                        border-top: 1px solid $complimentary-color-faded;

                        .border-container-education-one,
                        .border-container-education-two,
                        .border-container-education-three,
                        .border-container-education-four,
                        .border-container-employment-one,
                        .border-container-employment-two,
                        .border-container-employment-three,
                        .border-container-employment-four {

                            opacity: 0 !important;
                        }

                        .employment-description,
                        .education-description {
                            font-size: 1.3vw;
                        }

                        .employment-header, .education-header {
                            font-size: 4vw;
                        }
                    }
                }
            }
        }



        .cv-skills-container {

            flex-direction: column !important;
            margin-bottom: unset !important;
            height: 80%;
            gap: 2em;

            .skills-content-left-container {

                margin-top: 350px;
                width: 100% !important;
                padding: unset;
            }

            .skills-content-right-container {

                width: 100% !important;
                margin-left: 30px;

                // padding-left: 50px;
            }
        }
    }
}

@media only screen and (max-width: 650px) {

    .employment-description,
    .education-description {
        font-size: 2vw !important;
    }

    .employment-date, .education-date {
        font-size: 1.8vw !important;
    }

}