$background-color: #121212;
$highlight-color: #c992f1;
$secondary-color: white;
$tertiary-color: #b8b7b8;
$icon-color: #6a5acd;

$primary-font: "Lato", sans-serif;

$gradient3: rgba(0, 0, 0, 0), #663399; // Royal purple

// Mixin for gradient background
@mixin gradient-background($gradient) {
    background: linear-gradient(to bottom, nth($gradient, 1) 7%, nth($gradient, 2));
}

/*
body {
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to top, rgba(102, 51, 153, 1) 25%, rgba(102, 51, 153, 0)) !important;
}
*/

.cv-container {
    position: absolute;
    width: 80vw;
    height: 75vh;

    max-width: 1550px;
    max-height: 750px;

    border-radius: 25px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.6), 0 10px 20px rgba(0, 0, 0, 0.4), 0 15px 25px rgba(0, 0, 0, 0.2);

    top: 50%;
    left: 50%;
    margin: auto;
    transform: translate(-50%, -50%);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: $tertiary-color;
    font-family: $primary-font;
    margin: 0;

    gap: 7em;

    .work-educ-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: inherit;

        .work-container,
        .education-container {
            padding: 40px;

            position: absolute;
            display: flex;
            flex-direction: row;

            top: 0;
            left: 0;

            margin-top: 100px;

            justify-content: center;
            align-items: center;

            gap: 2em;

            transition: opacity 300ms linear;

            .work-box-container,
            .education-box-container {
                position: relative;
                display: flex;
                flex-direction: column;
                justify-content: start;
                align-items: center;

                top: 0;
                left: 0;

                text-align: center;

                width: 16vw;
                height: 45vh;
                max-width: 300px;
                max-height: 500px;

                padding: 20px;

                box-shadow: 0 5px 15px rgba(0, 0, 0, 1), 0 10px 20px rgba(0, 0, 0, 0.8), 0 15px 25px rgba(0, 0, 0, 0.4);
                border-radius: 25px;

                overflow: hidden;

                transition: all 300ms linear;

                font-size: 14px;

                &:hover {
                    transform: scale(1.1);
                }
            }
        }
    }

    .cv-nav-container {

        position: absolute;

        width: inherit;
        height: 50px;

        max-width: 1550px;
        max-height: 50px;

        list-style: none;

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        top: 0;
        left: 0;

        .cv-nav-link {
            font-size: 20px;
            font-weight: 400;

            margin-right: 10px;

            .cv-nav-work,
            .cv-nav-education {
                text-decoration: none;
                color: $tertiary-color;

                &:hover {
                    cursor: pointer;
                    color: $secondary-color;
                }
            }

            .fa-solid {
                color: $icon-color;
            }
        }
    }
}

.show-text {
    opacity: 1;
    visibility: visible !important;
}

.hide-text {
    opacity: 0;
    visibility: hidden !important;
}