$background-color: #121212;
$highlight-color: #c992f1;
$secondary-color: white;
$tertiary-color: #b8b7b8;

$primary-font: "Lato", sans-serif;

body {
    background: $background-color;
    user-select: none;
    overflow-x: hidden;
    overflow-y: hidden;
}

.no-phone {
    width: 100vw;
    height: 100vh;
    background-color: $background-color;
    position: absolute;
    margin: 0 0 0 0;
    z-index: 100;
    top: 0;
    left: 0;

    align-items: center;
    display: none; // flex?
    justify-content: center;
    opacity: 1;

    .progress-logo {
        position: absolute;
        width: 5rem;
        margin-bottom: 8rem;
    }

    .under-development {
        color: $tertiary-color;
        font-size: 25px;
        font-weight: bold;
        font-family: $primary-font;
        margin-top: 40px;
        text-align: center;
    }
}

.burger-container, #responsive-menu {
    display: none;
}

@media only screen and (min-width: 1400px) and (min-height: 900px) {
    .no-phone {
        display: none;
        /* Hide on desktop screens */
    }
}

#progress-overlay.fade {
    opacity: 0;
}

#progress-overlay.display {
    display: none;
}

.progress-overlay {
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-color: $background-color;
    z-index: 200;
    top: 0;
    left: 0;

    align-items: center;
    display: flex;
    justify-content: center;
    opacity: 1;
    transition: opacity 1s;

    .progress-logo {
        position: absolute;
        width: 5rem;
        margin-bottom: 8rem;
    }

    .progress-container {
        height: 0.1rem;
        width: 32rem;
        border-radius: 0.4rem;
        background: #000;

        .progress {
            height: 100%;
            width: 1;
            border-radius: 0.4rem;
            background: $highlight-color;
            transition: width 0.4s ease;
        }
    }
}

.logo-container {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 6px;
    margin-left: 25px;
    display: flex;

    img {
        width: 50px;
        height: auto;
    }
}

.socials-container {
    position: fixed;
    display: flex;
    top: 0;
    right: 0;
    padding: 0.5em 0.5em 1em 0em;
    width: 250px;
    z-index: 2;
    float: left;

    .socials-list {
        font-family: $primary-font;
        font-weight: 400;
        list-style: none;
        display: flex;
        flex-direction: row;
        gap: 1em;
        transition: all 300ms ease;

        .socials-li {
            & a {
                text-decoration: none;

                .socials-li-div {
                    display: flex;
                    flex-direction: row;
                    width: 30px;
                    height: 30px;
                    color: $tertiary-color;
                    font-size: 1.5em;
                    gap: 0.5em;
                    transition: all 400ms ease;
                    text-decoration: none;
                    writing-mode: vertical-lr;
                    overflow: hidden;

                    &:hover i {
                        color: $highlight-color;
                    }
                }
            }
        }
    }
}

.navbar-container {
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    padding: 0.5em 0.5em 1em 0.5em;
    width: 100vw;
    justify-content: left;
    align-items: start;
    margin-top: 15px;

    .navbar-list {
        font-family: $primary-font;
        font-weight: 400;
        list-style: none;
        display: flex;
        flex-direction: row;
        gap: 4em;
        transition: all 300ms ease;
        margin: 0px 40px 0px 0px;
        margin-left: 75px;

        .navbar-link {
            & a {
                color: $tertiary-color;
                font-size: 1.5em;
                transition: all 200ms ease;
                text-decoration: none;
                display: flex;
                padding-bottom: 4px;
                background-image: linear-gradient($highlight-color 0 0);
                background-position: 0 100%;
                background-size: 0% 2px;
                background-repeat: no-repeat;
                transition:
                    background-size 0.5s,
                    background-position 0s 0.5s;

                &:hover {
                    color: $secondary-color;
                    background-position: 100% 100%;
                    background-size: 100% 2px;
                }
            }
        }

        .navbar-spacer {
            font-size: 1.5em;
            font-weight: 100;
            color: $secondary-color;
        }
    }
}

@media only screen and (max-width: 60em) {

    .navbar-container {
        display: none;
    }

    .logo-container {
        display: none;
    }

    .socials-container {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        text-align: center;
        align-items: center;

        margin-top: 25px;
        z-index: 10;
    }

    .burger-container {

        display: flex;
        margin-left: 10px;

        svg {
            fill-rule: evenodd;
            clip-rule: evenodd;
            stroke-linecap: round;
            stroke-linejoin: round;
            stroke-miterlimit: 1.5;
            cursor: pointer;
    
            margin-top: 10px;
            width: 75px;
            height: 75px;
            position: fixed;
    
            z-index: 100;
        }
    
        svg path {
            fill: none;
            stroke: white;
            stroke-width: 1px;
        }
    
        svg+svg {
            margin-left: 1.5rem;
        }
    
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: Segoe UI, sans-serif;
        }
    
        #top,
        #bottom {
            stroke-dasharray: 30, 75.39;
            transition: all 0.6s cubic-bezier(0.6, 0.33, 0.67, 1.29);
        }
    
        svg.active #top,
        svg.active #bottom {
            stroke-dasharray: 75.39;
            stroke-dashoffset: -60;
        }
    
        svg:nth-child(2) {
            transform: rotate(0deg);
            transition: transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
        }
    
        svg:nth-child(2) path {
            transition: all 0.4s ease-in-out 0.6s;
        }
    
        svg:nth-child(2).active {
            transform: rotate(180deg);
        }
    
        .rocket #top {
            stroke-dasharray: 30, 88;
        }
    }

    #responsive-menu {
        background-color: $background-color;
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        z-index: 9;
        overflow: hidden;

        transition: all 300ms linear;

        .responsive-navbar-list {
            list-style: none;
            display: flex;
            flex-direction: column;
            gap: 2.5em;
            
            .responsive-navbar-link {
                text-align: center;
                font-size: 35px;
                font-family: $primary-font;

                border-radius: 25px;

                & a {
                    text-decoration: none;
                    color: $tertiary-color;
                }
            }
        }
    }

    .show-burger {
        transform: translate(0);
    }

    .hide-burger {
        transform: translate(-100%);
    }
}