body {
  background: #121212;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  overflow-x: hidden;
  overflow-y: hidden;
}

.no-phone {
  width: 100vw;
  height: 100vh;
  background-color: #121212;
  position: absolute;
  margin: 0 0 0 0;
  z-index: 100;
  top: 0;
  left: 0;
  align-items: center;
  display: none;
  justify-content: center;
  opacity: 1;
}
.no-phone .progress-logo {
  position: absolute;
  width: 5rem;
  margin-bottom: 8rem;
}
.no-phone .under-development {
  color: #b8b7b8;
  font-size: 25px;
  font-weight: bold;
  font-family: "Lato", sans-serif;
  margin-top: 40px;
  text-align: center;
}

.burger-container,
#responsive-menu {
  display: none;
}

#progress-overlay.fade {
  opacity: 0;
}

#progress-overlay.display {
  display: none;
}

.progress-overlay {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: #121212;
  z-index: 200;
  top: 0;
  left: 0;
  align-items: center;
  display: flex;
  justify-content: center;
  opacity: 1;
  transition: opacity 1s;
}
.progress-overlay .progress-logo {
  position: absolute;
  width: 5rem;
  margin-bottom: 8rem;
}
.progress-overlay .progress-container {
  height: 0.1rem;
  width: 32rem;
  border-radius: 0.4rem;
  background: #000;
}
.progress-overlay .progress-container .progress {
  height: 100%;
  width: 1;
  border-radius: 0.4rem;
  background: #c992f1;
  transition: width 0.4s ease;
}

.logo-container {
  position: fixed;
  top: 0;
  left: 0;
  margin-top: 6px;
  margin-left: 25px;
  display: flex;
  z-index: 10;
}
.logo-container img {
  position: absolute;
  width: 50px;
  height: auto;
}

.socials-container {
  position: fixed;
  display: flex;
  top: 0;
  right: 0;
  padding: 0.5em 0.5em 1em 0em;
  width: 250px;
  z-index: 2;
  float: left;
}
.socials-container .socials-list {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 1em;
  transition: all 300ms ease;
}
.socials-container .socials-list .socials-li a {
  text-decoration: none;
}
.socials-container .socials-list .socials-li a .socials-li-div {
  display: flex;
  flex-direction: row;
  width: 30px;
  height: 30px;
  color: #b8b7b8;
  font-size: 1.5em;
  gap: 0.5em;
  transition: all 400ms ease;
  text-decoration: none;
  writing-mode: vertical-lr;
  overflow: hidden;
}
.socials-container .socials-list .socials-li a .socials-li-div:hover i {
  color: #c992f1;
}

.navbar-container {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  padding: 0.5em 0.5em 1em 0.5em;
  width: 100vw;
  height: 60px;
  justify-content: center;
  align-items: center;
  background-color: #121212;
}
.navbar-container .navbar-list {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 4em;
  transition: all 300ms ease;
  margin: 0px 40px 0px 0px;
}
.navbar-container .navbar-list .navbar-link a {
  color: #b8b7b8;
  font-size: 1.5em;
  transition: all 200ms ease;
  text-decoration: none;
  display: flex;
  padding-bottom: 4px;
  background-image: linear-gradient(#c992f1 0 0);
  background-position: 0 100%;
  background-size: 0% 2px;
  background-repeat: no-repeat;
  transition: background-size 0.5s, background-position 0s 0.5s;
  text-transform: uppercase;
}
.navbar-container .navbar-list .navbar-link a:hover {
  color: white;
  background-position: 100% 100%;
  background-size: 100% 2px;
}
.navbar-container .navbar-list .navbar-spacer {
  font-size: 1.5em;
  font-weight: 100;
  color: white;
}

.chat-minimised {
  background-color: #c992f1;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  cursor: pointer;
}
.chat-minimised:hover {
  transform: scale(1.1);
}
.chat-minimised .chat-inner-container {
  display: none;
  visibility: hidden;
}
.chat-minimised .chat-close {
  display: none;
  visibility: hidden;
}

.chat-footer-show {
  transform: translateY(0) !important;
}

.chat-footer-hide {
  transform: translateY(110%) !important;
}

.chat-maximised {
  width: 450px;
  height: 650px;
  border: 1px solid #c992f1;
  display: flex;
  flex-direction: column;
  border-radius: 25px;
  overflow: hidden;
}
.chat-maximised .chat-close {
  width: 25px;
  height: 25px;
  position: relative;
  z-index: 11;
  position: inherit;
  color: white;
  top: 0;
  right: 0;
  margin-right: 6px;
  margin-top: 12px;
  cursor: pointer;
  transition: color 100ms linear, transform 100ms linear;
}
.chat-maximised .chat-close:hover {
  transform: scale(1.1);
}
.chat-maximised .chat-inner-container {
  height: 100%;
  background-color: rgba(18, 18, 18, 0.5);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}
.chat-maximised .chat-inner-container .chat-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 6px;
  opacity: 1;
  padding-bottom: 15px;
  transition: opacity 200ms linear, height 200ms linear, transform 100ms linear;
}
.chat-maximised .chat-inner-container .chat-footer .chat-option-button {
  width: -moz-max-content;
  width: max-content;
  min-width: 55px;
  padding: 5px;
  padding-right: 8px;
  padding-left: 8px;
  background-color: rgb(80, 200, 120);
  border-radius: 10px;
  vertical-align: middle;
  display: table-cell;
  color: #121212;
  font-family: "Lato", sans-serif;
  font-size: 20px;
  text-align: center;
}
.chat-maximised .chat-inner-container .chat-footer .chat-option-button:hover {
  color: black;
  cursor: pointer;
}
.chat-maximised .chat-inner-container .chat-content {
  width: 100%;
  height: 80%;
  top: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-top: 6px;
  overflow: scroll;
  overflow-anchor: auto !important;
  transition: transform 200ms linear;
  position: relative;
  padding-bottom: 15px;
}
.chat-maximised .chat-inner-container .chat-content .message {
  width: 98%;
  margin-left: 5px;
  display: flex;
}
.chat-maximised .chat-inner-container .chat-content .message .message-inner {
  width: -moz-max-content;
  width: max-content;
  min-width: 55px;
  padding: 0px;
  padding-right: 8px;
  padding-left: 8px;
  height: -moz-max-content;
  height: max-content;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #b8b7b8;
  font-family: "Lato", sans-serif;
  font-size: 20px;
  background-color: rgba(18, 18, 18, 0.8);
  text-align: left;
  box-shadow: 0 2px 5px rgb(0, 0, 0), 0 5px 10px rgba(0, 0, 0, 0.8), 0 7px 12px rgba(0, 0, 0, 0.4);
}
.chat-maximised .chat-inner-container .chat-content .bot-message-container {
  justify-content: start;
  transition: transform 200ms linear, opacity 200ms linear;
}
.chat-maximised .chat-inner-container .chat-content .bot-message-container .bot-message {
  color: #b8b7b8;
}
.chat-maximised .chat-inner-container .chat-content .bot-message-container .bot-message .bot-message-link {
  text-decoration: none;
  color: rgb(31, 81, 255);
}
.chat-maximised .chat-inner-container .chat-content .bot-message-container .bot-message .bot-message-link:hover {
  text-decoration: underline;
}
.chat-maximised .chat-inner-container .chat-content .user-message-container {
  justify-content: end;
}
.chat-maximised .chat-inner-container .chat-content .user-message-container .user-message {
  color: #F1C992;
  margin-right: 5px;
  text-align: right;
}
.chat-maximised .chat-inner-container .chat-header {
  width: 100%;
  height: 70px;
  display: flex;
  flex-direction: column;
  gap: 2px;
  border-bottom: 1px solid #c992f1;
  z-index: 10;
  position: relative;
}
.chat-maximised .chat-inner-container .chat-header .chat-header-title {
  font-family: "Lato", sans-serif;
  font-size: 20px;
  color: white;
  margin-left: 10px;
  margin-top: 10px;
}
.chat-maximised .chat-inner-container .chat-header .chat-header-subtitle {
  font-family: "IBM Plex Mono", monospace;
  color: white;
  font-size: 16px;
  margin-left: 10px;
}
.chat-maximised .chat-open {
  display: none;
  visibility: hidden;
}

.chat-container {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-right: 25px;
  margin-bottom: 25px;
  z-index: 2;
  transition: transform 100ms linear, width 200ms linear, height 200ms linear;
  z-index: 20;
}
.chat-container .fa-solid {
  font-size: 22px;
}

@media only screen and (max-width: 90em) {
  .chat-container {
    margin-right: 15px !important;
    margin-bottom: 10px !important;
  }
  .chat-maximised {
    width: 90vw !important;
    height: 75vh !important;
  }
  .chat-maximised .chat-inner-container .chat-footer {
    padding-top: 10px;
  }
  .chat-maximised .chat-content {
    height: 100% !important;
  }
  .navbar-container {
    display: none;
  }
  .logo-container {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 20;
    margin-left: 0;
    top: 0;
    left: 0;
    margin-top: 50px;
  }
  .progress-overlay {
    position: fixed !important;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .progress-overlay .progress-container {
    width: 90vw;
  }
  .socials-container {
    display: none;
    visibility: hidden;
  }
  .burger-container {
    display: flex;
    margin-left: 0px;
  }
  .burger-container svg {
    fill-rule: evenodd;
    clip-rule: evenodd;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 1.5;
    cursor: pointer;
    margin-top: 10px;
    width: 75px;
    height: 75px;
    position: fixed;
    z-index: 100;
  }
  .burger-container svg path {
    fill: none;
    stroke: white;
    stroke-width: 1px;
  }
  .burger-container svg + svg {
    margin-left: 1.5rem;
  }
  .burger-container * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Segoe UI, sans-serif;
  }
  .burger-container #top,
  .burger-container #bottom {
    stroke-dasharray: 30, 75.39;
    transition: all 0.6s cubic-bezier(0.6, 0.33, 0.67, 1.29);
  }
  .burger-container svg.active #top,
  .burger-container svg.active #bottom {
    stroke-dasharray: 75.39;
    stroke-dashoffset: -60;
  }
  .burger-container svg:nth-child(2) {
    transform: rotate(0deg);
    transition: transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  }
  .burger-container svg:nth-child(2) path {
    transition: all 0.4s ease-in-out 0.6s;
  }
  .burger-container svg:nth-child(2).active {
    transform: rotate(180deg);
  }
  .burger-container .rocket #top {
    stroke-dasharray: 30, 88;
  }
  #responsive-menu {
    background-color: #121212;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 9;
    overflow: hidden;
    transition: all 300ms linear;
    top: 0;
    left: 0;
  }
  #responsive-menu .responsive-navbar-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 2.5em;
    width: 100vw;
    left: 0;
    top: 0;
    padding: 0;
  }
  #responsive-menu .responsive-navbar-list .responsive-navbar-link {
    position: relative;
    text-align: center;
    font-size: 35px;
    font-family: "Lato", sans-serif;
    width: 100vw;
    border-radius: 25px;
  }
  #responsive-menu .responsive-navbar-list .responsive-navbar-link a {
    text-decoration: none;
    color: #b8b7b8;
  }
  #responsive-menu .nav-socials-container {
    position: fixed;
    width: 80%;
    height: 50px;
    bottom: 0;
    left: 0;
    z-index: 10;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1.5em;
    margin-bottom: 75px;
  }
  #responsive-menu .nav-socials-container .nav-socials-li .nav-socials-link {
    text-align: center;
    position: relative;
    font-size: 35px;
    text-decoration: none;
    color: #b8b7b8;
    font-family: "Lato", sans-serif;
  }
  .show-burger {
    transform: translate(0);
  }
  .hide-burger {
    transform: translate(-100%);
  }
}/*# sourceMappingURL=main.css.map */