// Slide images

/////////////////// GAMES /////////////////////
/// 
// MobContracts
.slide-text-container-games-image-one {
    background: url("https://i.ibb.co/hWZbC0R/Screenshot-2024-03-17-035803.png");
}

.slide-options-games-one {
    background: url("https://i.ibb.co/ckdXPKP/Screenshot-2024-03-17-163549.png");
    background-position: center;
}

// Periphery
.slide-text-container-games-image-two {
    background: url("https://i.ibb.co/sbvb0zZ/Screenshot-2024-03-17-051931.png");
}

.slide-options-games-two {
    background: url("https://i.ibb.co/0BmBfPk/Screenshot-2024-03-17-163409.png");
    background-position: center;
    background-size: contain;
}

// MetroCore
.slide-text-container-games-image-three {
    background: url("https://i.ibb.co/9h7FcQM/Screenshot-2024-03-17-043328.png");
    background-position: center;
    background-size: cover;
}

.slide-options-games-three {
    background: url("https://i.ibb.co/tKJ06Br/Screenshot-2024-03-17-203929.png");
    background-position: center;
    background-size: 10px;
}

// Project: Main menu
.slide-text-container-games-image-four {
    background: url("https://i.ibb.co/BntfqhY/Screenshot-2024-03-17-044432.png");
    background-position: center;
    background-size: contain;
}

.slide-options-games-four {
    background: url("https://i.ibb.co/8Krk2fW/Screenshot-20230205-230339.png");
    background-position: center;
}

// Asteroids
.slide-text-container-games-image-five {
    background: url("https://i.ibb.co/G9syq6z/Screenshot-2024-03-17-210048.png");
    background-position: center;
}

.slide-options-games-five {
    background: url("https://i.ibb.co/LN0MqF7/Screenshot-2024-03-17-205838.png");
    background-position: center;
    background-size: cover;
}

/////////////////// WEBSITES /////////////////////

// My portfolio
.slide-text-container-website-image-one {
    background: url("https://i.ibb.co/1fZGZmY/Screenshot-2024-03-17-054130.png");
}

.slide-options-website-one {
    background: url("https://i.ibb.co/qFwk4pz/Screenshot-2024-03-17-054036.png");
    background-position: center;
    background-size: cover;
}

// Jess
.slide-text-container-website-image-two {
    background: url("https://i.ibb.co/ggG6S1b/Screenshot-2024-03-17-172538.png");
    background-position: center;
}

.slide-options-website-two {
    background: url("https://i.ibb.co/smmHL36/Screenshot-2024-03-17-172409.png");
    background-position: center;
    background-size: cover;
}

// Pinksi
.slide-text-container-website-image-three {
    background: url("https://i.ibb.co/jDKsRK5/Screenshot-2024-03-17-164423.png");
    background-position: center;
}

.slide-options-website-three {
    background: url("https://i.ibb.co/PrP80hX/Screenshot-2024-03-17-164045.png");
    background-position: center;
    background-size: cover;
}

// Pesky
.slide-text-container-website-image-four {
    background: url("https://i.ibb.co/TqbWxfB/Screenshot-2024-03-17-175223.png");
}

.slide-options-website-four {
    background: url("https://i.ibb.co/FXXrMFj/Screenshot-2024-03-17-175507.png");
    background-size: cover;
    background-position: center;
}

///////////////////// SOFTWARE /////////////////////

// Cambot
.slide-text-container-software-image-one {
    background: url("https://i.ibb.co/3hvhQpL/Screenshot-2024-03-17-203617.png");
}

.slide-options-software-one {
    background: url("https://i.ibb.co/m8Qrqvx/Screenshot-2024-03-17-201937.png");
    background-position: center;
}

// Travelling salesman
.slide-text-container-software-image-two {
    background: url("https://i.ibb.co/gvWkv9H/Screenshot-2024-03-17-211450.png");
    background-position: center;
}

.slide-options-software-two {
    background: url("https://i.ibb.co/3v4KMhv/Screenshot-2024-03-17-211650.png");
    background-position: center;
    background-size: cover;
}

// Custom Maths
.slide-text-container-other-image-one {
    background: url("https://i.ibb.co/SKssTpD/Screenshot-2024-03-17-204302.png");
    background-position: center;
}

.slide-options-other-one {
    background: url("https://i.ibb.co/KNxc0PD/Screenshot-2024-03-17-204450.png");
    background-position: left;
    background-size: cover;
}

// AI pop
.slide-text-container-other-image-two {
    background: url("https://i.ibb.co/CzGXqVN/Screenshot-2024-03-20-013020.png");
    background-position: center;
}

.slide-options-other-two {
    background: url("https://i.ibb.co/5YVHX1V/Screenshot-2024-03-20-013222.png");
    background-position: center;
}